---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import BaseLayout from './BaseLayout.astro';
import Badge from '../components/Badge.astro';

type Props = CollectionEntry<'posts'>['data'];

const { title, subtitle, description, pubDate, updatedDate, heroImage, tags } = Astro.props;
---

<BaseLayout description={description} pageTitle={title}>
	<main class="leading-[1.7] max-w-screen-md mx-auto">
		<article>
			<div class="hero-image">
				{heroImage && <img src={`/img/${heroImage}`} alt="" class="bg-gray-3" />}
			</div>
			<h1 class="mt-8">{title}</h1>
			{subtitle && <div class="text-2xl font-sans font-light mt-3">{subtitle}</div>}
			<div class="text-gray-11 mt-4 text-base">
				<FormattedDate date={pubDate} />
				{
					updatedDate && (
						<div>
							Last updated on <FormattedDate date={updatedDate} />
						</div>
					)
				}
			</div>
			<ul class="flex flex-wrap gap-2 list-none mx-0 my-4 p-0">
				{
					tags?.map((tag) => {
						return (
							<li>
								<a href={`/tags/${tag}`}>
									<Badge>{tag}</Badge>
								</a>
							</li>
						);
					})
				}
			</ul>
			<hr class="mb-6" />
			<slot />
		</article>
	</main>
</BaseLayout>
